.content-blog {
    width: 67%;
    margin-left: 17%;
}
.blog-title {
    font-size: 16px;
    color: #3D4351;
}
.blog-info {
    font-size: 12px;
}
.content-blog p {
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    color: rgb(71, 75, 83);
}

