
.snippet {
    background-color: white;
    border-radius: 6%;
    border-color: #f44f4a;
}
.blog-headline {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.blog-abstract {
    font-size: 16px;
    color: #424242;
}
.read-more {
    color: #f44f4a;
}
a{
    color: #f44f4a;
}